EmployeeService/EmployeeServiceTests/Service References/EmployeeTestServiceReference/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeOperationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49468/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49468/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49468/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddEmployeeService_AddRemarks_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRemarks" />
  </wsdl:message>
  <wsdl:message name="IAddEmployeeService_AddRemarks_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRemarksResponse" />
  </wsdl:message>
  <wsdl:message name="IAddEmployeeService_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="IAddEmployeeService_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IGetEmployeeService_GetEmployeeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetails" />
  </wsdl:message>
  <wsdl:message name="IGetEmployeeService_GetEmployeeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IGetEmployeeService_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IGetEmployeeService_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddEmployeeService">
    <wsdl:operation name="AddRemarks">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddEmployeeService/AddRemarks" message="tns:IAddEmployeeService_AddRemarks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddEmployeeService/AddRemarksResponse" message="tns:IAddEmployeeService_AddRemarks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddEmployeeService/CreateEmployee" message="tns:IAddEmployeeService_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddEmployeeService/CreateEmployeeResponse" message="tns:IAddEmployeeService_CreateEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGetEmployeeService">
    <wsdl:operation name="GetEmployeeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetEmployeeService/GetEmployeeDetails" message="tns:IGetEmployeeService_GetEmployeeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetEmployeeService/GetEmployeeDetailsResponse" message="tns:IGetEmployeeService_GetEmployeeDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetEmployeeService/GetAllEmployees" message="tns:IGetEmployeeService_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetEmployeeService/GetAllEmployeesResponse" message="tns:IGetEmployeeService_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddEmployeeService" type="tns:IAddEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRemarks">
      <soap:operation soapAction="http://tempuri.org/IAddEmployeeService/AddRemarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/IAddEmployeeService/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGetEmployeeService" type="tns:IGetEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeDetails">
      <soap:operation soapAction="http://tempuri.org/IGetEmployeeService/GetEmployeeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IGetEmployeeService/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeOperationService">
    <wsdl:port name="BasicHttpBinding_IAddEmployeeService" binding="tns:BasicHttpBinding_IAddEmployeeService">
      <soap:address location="http://localhost:49468/EmployeeService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IGetEmployeeService" binding="tns:BasicHttpBinding_IGetEmployeeService">
      <soap:address location="http://localhost:49468/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>